@model IEnumerable<Hotel.WEB.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<a href='@Url.Action("Create", "Category")' class="btn btn-primary active">Add new category</a>
<br />
<br />

<table class="table table-hover table-bordered table-condensed">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_Of_Places)
        </th>
    </thead>

    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @category.Id
                </td>
                <td>
                    @category.Name
                </td>
                <td>
                    @category.Number_Of_Places
                </td>
                <td>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    @Html.ActionLink("Remove", "Delete", new { id = category.Id })
                </td>
            </tr>
        }
    </tbody>
</table>