@model Hotel.WEB.Models.FreeRoomsModel
@{
    ViewBag.Title = "FreeRooms";
}

<h2>Free Rooms</h2>
<h4>
    List of free rooms on period @Model.FirstDate - @Model.SecondDate
</h4>
<table class="table table-hover table-bordered table-condensed">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Category Id
        </th>

    </tr>

    @foreach (var room in Model.FreeRooms)
    {
        <tr>
            <td>
                @room.Id
            </td>
            <td>
                @room.Name
            </td>
            
            <td>
                @room.CategoryId

            </td>

        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to bookings", "Index")
    @Html.ActionLink("Return", "GetFreeRoomsOnPeriod")
</div>